body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: blueviolet;
}
h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(136, 54, 54);
    color: yellow;
    margin-left: 450px;
    margin-right: 450px;
}
.difficult {
    margin-right: 750px;
    margin-top: -350px;
}
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
}